<div id="wrapper">
<div id="warp-top">
<header>
<hgroup>
<h1>XXXXXX 人員マスタ登録  [編集]</h1></ br>
</hgroup>
<nav id="nav_top" class="clearfix">
<ul>
<div id="divnavi">
<a href="/">検索</a> | 
<%= link_to '照会', @mst_jinin %> | 
<%= link_to '戻る', mst_jinins_path %>
</div>
</header>
		

<div id="content">
	<div id="main">
		<div id="container">
			<section id="column1">
				<section>

<%= render 'form' %>

 				</section>
<!--#column1--></section>
<!--#container--></div>

<!--#content--></div>
						
<!--#warp-top--></div>

<div id="wrap-btm">
	<footer>
		<div class="copyright">&copy;2012 Angle. - Ruby on Rails Demonstration -<!--.copyright--></div>
	</footer>
<!--#wrap-btm--></div>
<!--wrapper--></div>