<!DOCTYPE html>
<html lang="ja">
<head>
	<!--[if lt IE 9]>
		<script src="http://html5shiv.google.com/svn/trunk/html5.js"></script>
	<![endif]-->
  <meta charset="utf-8">
  <title>Rails Test - 人員登録デモ - </title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="copyright" content="(c) 2012 angle.">
  <!-- Require Stylesheet -->
  <link rel="stylesheet" href="sample.css">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
